{
  "openapi": "3.0.1",
  "info": {
    "title": "CollectWise API",
    "description": "An API for managing debtors, tracking statuses, and automating debt collection processes",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://collectwiseapi.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/debtor": {
      "post": {
        "summary": "Create a new debtor",
        "description": "Creates a new debtor record",
        "requestBody": {
          "description": "Debtor information to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDebtor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Debtor created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List debtors",
        "description": "Returns all debtors from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of debtors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DebtorResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtor/{debtorId}": {
      "get": {
        "summary": "Get a debtor",
        "description": "Retrieve a specific debtor's information",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a debtor",
        "description": "Update an existing debtor's information",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated debtor information",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebtorUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Debtor updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a debtor",
        "description": "Delete a debtor using their unique identifier",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Debtor successfully deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtors": {
      "post": {
        "summary": "Create multiple debtors",
        "description": "Creates multiple debtor records in bulk",
        "requestBody": {
          "description": "Array of debtor information to add",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NewDebtor"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk debtor creation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdDebtors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DebtorResponse"
                      }
                    },
                    "failedDebtors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Index of the failed debtor in the input array"
                          },
                          "error": {
                            "$ref": "#/components/schemas/Error"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtorStatus/{debtorId}": {
      "get": {
        "summary": "Get debtor status",
        "description": "Retrieve the current status of a specific debtor",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorStatus"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtorStatuses": {
      "get": {
        "summary": "Get all debtor statuses",
        "description": "Retrieve the current status of all debtors",
        "responses": {
          "200": {
            "description": "Debtor statuses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "debtorStatuses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DebtorStatus"
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of debtor statuses retrieved"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtorStatus/paidCreditor/{debtorId}": {
      "patch": {
        "summary": "Update debtor status to Paid Creditor Directly",
        "description": "Update the status of a specific debtor to 'Paid Creditor Directly'",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Debtor status updated to 'Paid Creditor Directly' successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dropVoicemail": {
      "post": {
        "summary": "Drop a voicemail",
        "description": "Sends an automated voicemail to the specified phone number",
        "requestBody": {
          "description": "Voicemail details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phoneNumber", "message", "callbackNumber"],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number in E.164 format (e.g., +18768828822)",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  },
                  "message": {
                    "type": "string",
                    "description": "The voicemail message to be delivered"
                  },
                  "callbackNumber": {
                    "type": "string",
                    "description": "Callback phone number in E.164 format",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  }
                }
              },
              "example": {
                "phoneNumber": "+18768828822",
                "message": "Hello, this is an important message regarding your account...",
                "callbackNumber": "+18768828823"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voicemail sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Voicemail delivered successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone number format or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to deliver voicemail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rpcCall": {
      "post": {
        "summary": "Make an RPC Call",
        "description": "Initiates an RPC (Right Party Contact) call to verify debtor identity",
        "requestBody": {
          "description": "RPC call details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["toNumber", "creditorName", "debtorName", "dob", "voicemailMessage"],
                "properties": {
                  "toNumber": {
                    "type": "string",
                    "description": "Phone number to call in E.164 format (e.g., +18768828822)",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  },
                  "creditorName": {
                    "type": "string",
                    "description": "Name of the creditor"
                  },
                  "debtorName": {
                    "type": "string",
                    "description": "Name of the debtor"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "description": "Debtor's date of birth (YYYY-MM-DD)"
                  },
                  "voicemailMessage": {
                    "type": "string",
                    "description": "Message to leave if the call goes to voicemail"
                  },
                  "agencyName": {
                    "type": "string",
                    "description": "Optional name of the collection agency"
                  }
                }
              },
              "example": {
                "toNumber": "+18768828822",
                "creditorName": "ABC Bank",
                "debtorName": "John Doe",
                "dob": "1980-01-01",
                "voicemailMessage": "Hello, this is an important message regarding your account...",
                "agencyName": "Midwest Collections"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RPC call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "RPC call initiated successfully"
                    },
                    "callId": {
                      "type": "string",
                      "description": "Unique identifier for the call"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone number format or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to initiate call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewDebtor": {
        "type": "object",
        "required": [
          "debtorName",
          "totalUnpaidDebt",
          "delinquencyDate",
          "phoneNumber",
          "email",
          "productOrService",
          "creditorName"
        ],
        "properties": {
          "debtorName": {
            "type": "string",
            "description": "Full name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Total amount of unpaid debt"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the debtor"
          },
          "productOrService": {
            "type": "string",
            "description": "Name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Name of the creditor"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the debt"
          },
          "address": {
            "type": "string",
            "description": "Street address of the debtor"
          },
          "city": {
            "type": "string",
            "description": "City of the debtor"
          },
          "state": {
            "type": "string",
            "description": "State of the debtor"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP code of the debtor"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the debtor"
          },
          "lastPayDate": {
            "type": "string",
            "format": "date",
            "description": "Date of the last payment made by the debtor"
          },
          "chargeOffDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt was charged off, if applicable"
          },
          "interestDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of interest due on the debt"
          },
          "principalDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of principal due on the debt"
          },
          "otherFees": {
            "type": "number",
            "format": "float",
            "description": "Other fees associated with the debt"
          },
          "amountPaid": {
            "type": "number",
            "format": "float",
            "description": "Total amount paid by the debtor so far"
          },
          "customWorkflowID": {
            "type": "string",
            "description": "Custom workflow identifier for the debtor"
          },
          "customization": {
            "type": "string",
            "description": "Custom instructions for AI collection workflow (e.g., tone, channel preferences, frequency). If not provided, the system will generate an optimal collection flow."
          }
        }
      },
      "DebtorUpdate": {
        "type": "object",
        "properties": {
          "debtorName": {
            "type": "string",
            "description": "Updated name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Updated total unpaid debt amount"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Updated contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Updated email address of the debtor"
          },
          "productOrService": {
            "type": "string",
            "description": "Updated name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Updated name of the creditor"
          },
          "accountNumber": {
            "type": "string",
            "description": "Updated account number associated with the debt"
          },
          "address": {
            "type": "string",
            "description": "Updated street address of the debtor"
          },
          "city": {
            "type": "string",
            "description": "Updated city of the debtor"
          },
          "state": {
            "type": "string",
            "description": "Updated state of the debtor"
          },
          "zipCode": {
            "type": "string",
            "description": "Updated ZIP code of the debtor"
          },
          "ssn": {
            "type": "string",
            "description": "Updated Social Security Number of the debtor"
          },
          "lastPayDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date of the last payment made by the debtor"
          },
          "chargeOffDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date when the debt was charged off, if applicable"
          },
          "interestDue": {
            "type": "number",
            "format": "float",
            "description": "Updated amount of interest due on the debt"
          },
          "principalDue": {
            "type": "number",
            "format": "float",
            "description": "Updated amount of principal due on the debt"
          },
          "otherFees": {
            "type": "number",
            "format": "float",
            "description": "Updated other fees associated with the debt"
          },
          "amountPaid": {
            "type": "number",
            "format": "float",
            "description": "Updated total amount paid by the debtor so far"
          },
          "customization": {
            "type": "string",
            "description": "Custom instructions for AI collection workflow (e.g., tone, channel preferences, frequency). If not provided, the system will generate an optimal collection flow."
          }
        }
      },
      "DebtorResponse": {
        "type": "object",
        "properties": {
          "debtorId": {
            "type": "string",
            "description": "Unique identifier of the debtor"
          },
          "debtorName": {
            "type": "string",
            "description": "Full name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Total amount of unpaid debt"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the debtor"
          },
          "productOrService": {
            "type": "string",
            "description": "Name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Name of the creditor"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update to this record"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the debt"
          },
          "address": {
            "type": "string",
            "description": "Street address of the debtor"
          },
          "city": {
            "type": "string",
            "description": "City of the debtor"
          },
          "state": {
            "type": "string",
            "description": "State of the debtor"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP code of the debtor"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the debtor"
          },
          "lastPayDate": {
            "type": "string",
            "format": "date",
            "description": "Date of the last payment made by the debtor"
          },
          "chargeOffDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt was charged off, if applicable"
          },
          "interestDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of interest due on the debt"
          },
          "principalDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of principal due on the debt"
          },
          "otherFees": {
            "type": "number",
            "format": "float",
            "description": "Other fees associated with the debt"
          },
          "amountPaid": {
            "type": "number",
            "format": "float",
            "description": "Total amount paid by the debtor so far"
          },
          "customWorkflowID": {
            "type": "string",
            "description": "Custom workflow identifier for the debtor"
          },
          "customization": {
            "type": "string",
            "description": "Custom instructions for AI collection workflow (e.g., tone, channel preferences, frequency). If not provided, the system will generate an optimal collection flow."
          }
        },
        "required": [
          "debtorId",
          "debtorName",
          "totalUnpaidDebt",
          "delinquencyDate",
          "creditorName",
          "lastUpdated"
        ]
      },
      "DebtorStatus": {
        "type": "object",
        "properties": {
          "debtorId": {
            "type": "string",
            "description": "Unique identifier of the debtor"
          },
          "status": {
            "type": "string",
            "description": "Current status of the debtor",
            "enum": [
              "Potential",
              "Subscription",
              "Partial",
              "Paid",
              "Deleted",
              "Paid Creditor Directly",
              "Deceased",
              "Filed Bankruptcy"
            ]
          }         
        },
        "required": ["debtorId", "status"]
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "example": {
          "code": 400,
          "message": "Invalid input: debtorName is required"
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "COLLECTWISE_KEY"
      }
    }
  }
}
