{
  "openapi": "3.0.1",
  "info": {
    "title": "CollectWise API",
    "description": "An API for managing debtors, tracking statuses, and automating debt collection processes",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://collectwiseapi.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/debtor": {
      "post": {
        "summary": "Create a new debtor",
        "description": "Creates a new debtor record",
        "requestBody": {
          "description": "Debtor information to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDebtor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Debtor created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List debtors",
        "description": "Returns all debtors from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of debtors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DebtorResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtor/{debtorId}": {
      "get": {
        "summary": "Get a debtor",
        "description": "Retrieve a specific debtor's information",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a debtor",
        "description": "Update an existing debtor's information",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated debtor information",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebtorUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Debtor updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a debtor",
        "description": "Delete a debtor using their unique identifier",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Debtor successfully deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtors": {
      "post": {
        "summary": "Create multiple debtors",
        "description": "Creates multiple debtor records in bulk",
        "requestBody": {
          "description": "Array of debtor information to add",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NewDebtor"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk debtor creation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdDebtors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DebtorResponse"
                      }
                    },
                    "failedDebtors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Index of the failed debtor in the input array"
                          },
                          "error": {
                            "$ref": "#/components/schemas/Error"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtorStatus/{debtorId}": {
      "get": {
        "summary": "Get debtor status",
        "description": "Retrieve the current status of a specific debtor",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorStatus"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtorStatuses": {
      "get": {
        "summary": "Get all debtor statuses",
        "description": "Retrieve the current status of all debtors",
        "responses": {
          "200": {
            "description": "Debtor statuses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "debtorStatuses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DebtorStatus"
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of debtor statuses retrieved"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtorStatus/paidCreditor/{debtorId}": {
      "patch": {
        "summary": "Update debtor status to Paid Creditor Directly",
        "description": "Update the status of a specific debtor to 'Paid Creditor Directly'",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Debtor status updated to 'Paid Creditor Directly' successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dropVoicemail": {
      "post": {
        "summary": "Drop a voicemail",
        "description": "Sends an automated voicemail to the specified phone number",
        "requestBody": {
          "description": "Voicemail details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["phoneNumber", "message", "callbackNumber"],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number in E.164 format (e.g., +18768828822)",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  },
                  "message": {
                    "type": "string",
                    "description": "The voicemail message to be delivered"
                  },
                  "callbackNumber": {
                    "type": "string",
                    "description": "Callback phone number in E.164 format",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  },
                  "voiceGender": {
                    "type": "string",
                    "description": "Gender of the voice to use for the voicemail",
                    "enum": ["male", "female"]
                  }
                }
              },
              "example": {
                "phoneNumber": "+18768828822",
                "message": "Hello, this is an important message regarding your account...",
                "callbackNumber": "+18768828823",
                "voiceGender": "female"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voicemail sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Voicemail delivered successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone number format or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to deliver voicemail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clean-numbers": {
      "get": {
        "summary": "Get clean numbers",
        "description": "Returns a list of active clean phone numbers that can be used as caller IDs for voicemail drops. Numbers are filtered by group (overseas or inhouse) and scoped to your organization.",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "description": "The group of clean numbers to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["overseas", "inhouse"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clean numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CleanNumbersResponse"
                },
                "example": {
                  "numbers": [
                    { "phone_number": "+18667734413" }
                  ],
                  "count": 1,
                  "group": "overseas"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing group parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid or missing group parameter",
                  "message": "group must be one of: overseas, inhouse"
                }
              }
            }
          }
        }
      }
    },
    "/rpcCall": {
      "post": {
        "summary": "Make an RPC Call",
        "description": "Initiates an RPC (Right Party Contact) call to verify debtor identity",
        "requestBody": {
          "description": "RPC call details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["toNumber", "creditorName", "debtorName", "callbackNumber"],
                "properties": {
                  "toNumber": {
                    "type": "string",
                    "description": "Phone number to call in E.164 format (e.g., +18768828822)",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  },
                  "creditorName": {
                    "type": "string",
                    "description": "Name of the creditor"
                  },
                  "debtorName": {
                    "type": "string",
                    "description": "Name of the debtor"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "description": "Debtor's date of birth (YYYY-MM-DD). Either dob or last4SSN must be provided"
                  },
                  "last4SSN": {
                    "type": "string",
                    "description": "Last 4 digits of debtor's SSN. Either dob or last4SSN must be provided",
                    "pattern": "^\\d{4}$"
                  },
                  "voicemailMessage": {
                    "type": "string",
                    "description": "Message to leave if the call goes to voicemail"
                  },
                  "callbackNumber": {
                    "type": "string",
                    "description": "Phone number in E.164 format that missed calls will be routed to upon callbacks",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  },
                  "agencyName": {
                    "type": "string",
                    "description": "Optional name of the collection agency"
                  },
                  "agentName": {
                    "type": "string",
                    "description": "Optional name of the agent making the call, defaults to Nancy"
                  },
                  "successNumber": {
                    "type": "string",
                    "description": "Optional phone number in E.164 format to route the call to upon successful RPC",
                    "pattern": "^\\+[1-9]\\d{10,14}$"
                  },
                  "customMessage": {
                    "type": "string",
                    "description": "Optional message to be played after introduction but before RPC verification"
                  },
                  "instantTransferToggle": {
                    "type": "boolean",
                    "description": "When true, transfers the call to successNumber immediately after name verification, bypassing DOB/SSN verification",
                    "default": false
                  }
                },
                "oneOf": [
                  {
                    "required": ["dob"]
                  },
                  {
                    "required": ["last4SSN"]
                  }
                ]
              },
              "example": {
                "toNumber": "+18768828822",
                "creditorName": "ABC Bank",
                "debtorName": "John Doe",
                "dob": "1980-01-01",
                "voicemailMessage": "Hello, this is an important message regarding your account...",
                "agencyName": "Midwest Collections",
                "agentName": "Nancy",
                "successNumber": "+18768828824",
                "callbackNumber": "+18768828825",
                "customMessage": "This call is regarding an important financial matter that requires your immediate attention.",
                "instantTransferToggle": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RPC call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "RPC call initiated successfully"
                    },
                    "callId": {
                      "type": "string",
                      "description": "Unique identifier for the call"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone number format or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Failed to initiate call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/call/{callId}/recording": {
      "get": {
        "summary": "Get Call Recording",
        "description": "Retrieve call recording with optional transcript and analysis data",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the call",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Recording format",
            "schema": {
              "type": "string",
              "enum": ["standard", "multichannel", "scrubbed", "scrubbed_multichannel"],
              "default": "standard"
            }
          },
          {
            "name": "include_transcript",
            "in": "query",
            "required": false,
            "description": "Include call transcript",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_analysis",
            "in": "query",
            "required": false,
            "description": "Include call analysis",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call recording retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallRecording"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Call ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
    ,
    "/workflow/{debtorId}/pause": {
      "patch": {
        "summary": "Pause a debtor's workflow",
        "description": "Pauses the active workflow for the specified debtor, suppressing outbound communications.",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow paused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Debtor's workflow paused" },
                    "paused": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Debtor ID is required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Debtor not found or not enrolled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Failed to pause workflow",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/workflow/{debtorId}/resume": {
      "patch": {
        "summary": "Resume a debtor's workflow",
        "description": "Resumes the active workflow for the specified debtor, re-enabling outbound steps.",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow resumed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Debtor's workflow resumed" },
                    "paused": { "type": "boolean", "example": false }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Debtor ID is required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Debtor not found or not enrolled",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Failed to resume workflow",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
    ,
    "/status/workflow/{workflowId}": {
      "get": {
        "summary": "Workflow status overview",
        "description": "Provides workflow meta, totals, stage breakdown, window hours, SMS summary, and recent SMS for a workflow.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the workflow",
            "schema": { "type": "string" }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Lookback window in hours. Defaults to 24; clamped to [1, 8760].",
            "schema": { "type": "integer", "minimum": 1, "maximum": 8760, "default": 24 }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Specific UTC day in YYYY-MM-DD format; when provided, supersedes the hours window.",
            "schema": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow status overview returned",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Workflow not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Upstream/internal error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/status/debtors": {
      "post": {
        "summary": "Per-debtor workflow status and recent SMS",
        "description": "Returns per-debtor status (paused, next stage/time), SMS counts, and recent SMS for provided debtorIds within a workflow.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workflowId", "debtorIds"],
                "properties": {
                  "workflowId": { "type": "string", "description": "Workflow identifier" },
                  "debtorIds": { "type": "array", "items": { "type": "string" }, "minItems": 1 },
                  "hours": { "type": "integer", "minimum": 1, "maximum": 8760, "default": 24 },
                  "limit": { "type": "integer", "minimum": 1, "maximum": 200, "default": 20 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-debtor statuses returned",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Workflow or one or more debtors not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Upstream/internal error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/tcn/call-outcome/{tcn-cid}": {
      "get": {
        "summary": "Get TCN Call Outcome",
        "description": "Retrieves the call outcome for a specific TCN call ID. This endpoint is designed to support TCN's SIP integration where calls are routed to CollectWise AI agents.",
        "parameters": [
          {
            "name": "tcn-cid",
            "in": "path",
            "required": true,
            "description": "The TCN call identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call outcome found and returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TCNCallOutcome"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing TCN CID parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Call outcome not found (call in progress or not available)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TCNCallOutcomeNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/usage-summary": {
      "get": {
        "summary": "Get Billing Usage Summary",
        "description": "Returns a complete billing breakdown with usage counts and costs across all channels for a given date range.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start of date range. Accepts YYYY-MM-DD (defaults to 00:00:00 UTC) or a full ISO 8601 UTC timestamp like 2025-02-01T05:00:00Z",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End of date range. Accepts YYYY-MM-DD (defaults to 23:59:59 UTC) or a full ISO 8601 UTC timestamp like 2025-02-28T04:59:59Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingUsageSummary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — missing or invalid date parameters, or billing not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingError"
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key or billing access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingError"
                }
              }
            }
          }
        }
      }
    },
    "/text/templates": {
      "get": {
        "summary": "List SMS templates",
        "description": "Lists every SMS template available to your organization, including the placeholder variables each one expects. Call this first to discover the `templateId` and the variable names to pass to the send endpoint.",
        "responses": {
          "200": {
            "description": "Templates available to your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "templates"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Number of templates returned."
                    },
                    "templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SmsTemplate"
                      }
                    }
                  }
                },
                "example": {
                  "count": 1,
                  "templates": [
                    {
                      "templateId": 100,
                      "accountId": "99999",
                      "message": "{Consumer Name}, {Company Name} is a debt collector attempting to collect a debt. Visit {Website Payment} using your account# {Account Number} or call {Phone#}. Reply STOP to opt out.",
                      "placeholders": [
                        "Consumer Name",
                        "Company Name",
                        "Website Payment",
                        "Account Number",
                        "Phone#"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Texting is not enabled for your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Texting is not enabled for this organization"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After response header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/text/templates/{templateId}": {
      "get": {
        "summary": "Get an SMS template",
        "description": "Fetches a single template's body and its placeholder variables.",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The template's identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "The template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsTemplate"
                },
                "example": {
                  "templateId": 100,
                  "accountId": "99999",
                  "message": "{Consumer Name}, {Company Name} is a debt collector attempting to collect a debt. Visit {Website Payment} using your account# {Account Number} or call {Phone#}. Reply STOP to opt out.",
                  "placeholders": [
                    "Consumer Name",
                    "Company Name",
                    "Website Payment",
                    "Account Number",
                    "Phone#"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`templateId` is not a valid integer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "templateId must be an integer"
                }
              }
            }
          },
          "403": {
            "description": "Texting is not enabled for your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Texting is not enabled for this organization"
                }
              }
            }
          },
          "404": {
            "description": "No template with that id exists in your organization's account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Template not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/text/segments": {
      "post": {
        "summary": "Calculate SMS segments",
        "description": "Returns how many SMS segments a message will use, matching the Twilio segment calculator. Provide either a raw `message`, or a `templateId` with `variables` (the template is rendered first, then counted). This endpoint does not send anything.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "A raw message to measure. Provide this OR templateId."
                  },
                  "templateId": {
                    "type": "integer",
                    "description": "A template to render and measure. Provide this OR message."
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Values substituted into the template's placeholders (when using templateId)."
                  }
                }
              },
              "examples": {
                "raw message": {
                  "value": {
                    "message": "Hi Jane, your balance is $430.10. Reply STOP to opt out."
                  }
                },
                "template": {
                  "value": {
                    "templateId": 100,
                    "variables": {
                      "Consumer Name": "Jane"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segment usage for the message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentResult"
                },
                "example": {
                  "encoding": "GSM-7",
                  "characterCount": 57,
                  "gsm7Length": 57,
                  "segmentCount": 1,
                  "maxCharsPerSegment": 160,
                  "messageSizeBits": 399
                }
              }
            }
          },
          "400": {
            "description": "Body had neither `message` nor `templateId`, or `templateId` was not an integer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Provide either message or templateId"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    },
    "/text/send": {
      "post": {
        "summary": "Send a one-time text",
        "description": "Renders an SMS template with the supplied variables and sends it to one phone number. A 200 means the message was accepted and queued, not yet delivered — use the returned `messageId` with the status endpoint. Sandbox API keys are rejected.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "destination",
                  "templateId",
                  "variables",
                  "debtorId"
                ],
                "properties": {
                  "destination": {
                    "type": "string",
                    "description": "US phone number. `3313048434`, `13313048434`, and `+1 (331) 304-8434` are all accepted."
                  },
                  "templateId": {
                    "type": "integer",
                    "description": "The template to send. Must belong to your organization's account."
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Values substituted into the template's `{placeholder}` tokens. Use `{}` if the template has none. If any placeholder is left unresolved, the request fails with 400 rather than texting a literal `{token}`."
                  },
                  "debtorId": {
                    "type": "string",
                    "description": "Your reference for this recipient (e.g. your account or reference number). Forwarded as-is; replies and the message record are tracked against it."
                  }
                }
              },
              "example": {
                "destination": "3313048434",
                "templateId": 100,
                "variables": {
                  "Consumer Name": "Jane Doe",
                  "Company Name": "Acme Recovery Group",
                  "Website Payment": "https://pay.collectwise.com/acme",
                  "Account Number": "ACME-0001",
                  "Phone#": "800-555-0100"
                },
                "debtorId": "your-reference-number"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message accepted and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "messageId"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "messageId": {
                      "type": "string",
                      "description": "Delivery-tracking ID. Use it with the status endpoint."
                    },
                    "segments": {
                      "$ref": "#/components/schemas/SegmentResult"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "messageId": "1b1f0a9e-6f4e-4f4b-9a2e-1f2d3c4b5a69",
                  "segments": {
                    "encoding": "GSM-7",
                    "segmentCount": 1,
                    "characterCount": 142,
                    "maxCharsPerSegment": 160
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body: bad phone number, missing or non-integer `templateId`, missing `debtorId`, bad `variables`, or unresolved template placeholders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Missing variables for placeholders: Consumer Name"
                }
              }
            }
          },
          "403": {
            "description": "Texting not enabled for your organization, the template is not in your account, or a sandbox key was used.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Template is not available for your account"
                }
              }
            }
          },
          "404": {
            "description": "Template not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Template not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 sends/min per organization).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          },
          "502": {
            "description": "The SMS service rejected or failed the send.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Failed to send message"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/text/status/{messageId}": {
      "get": {
        "summary": "Get text delivery status",
        "description": "Returns delivery status for a previously sent message. `messageId` is the value returned by the send endpoint. Delivery reports arrive asynchronously from the carrier, so poll after a short delay.",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The messageId returned by the send endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Current delivery status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageStatus"
                },
                "example": {
                  "messageId": "1b1f0a9e-6f4e-4f4b-9a2e-1f2d3c4b5a69",
                  "status": "Delivered",
                  "delivered": true,
                  "failed": false,
                  "failureClassification": null,
                  "retryRecommended": false,
                  "createdAt": "2026-06-12T18:21:09.000Z",
                  "updatedAt": "2026-06-12T18:21:14.000Z"
                }
              }
            }
          },
          "404": {
            "description": "No message with that id for your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Message not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextError"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewDebtor": {
        "type": "object",
        "required": [
          "debtorName",
          "totalUnpaidDebt",
          "delinquencyDate",
          "phoneNumber",
          "email",
          "productOrService",
          "creditorName"
        ],
        "properties": {
          "debtorName": {
            "type": "string",
            "description": "Full name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Total amount of unpaid debt"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the debtor"
          },
          "callbackNumber": {
            "type": "string",
            "description": "Callback phone number"
          },
          "productOrService": {
            "type": "string",
            "description": "Name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Name of the creditor"
          },
          "creditorEmail": {
            "type": "string",
            "format": "email",
            "description": "Email address of the creditor"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the debt"
          },
          "address": {
            "type": "string",
            "description": "Street address of the debtor"
          },
          "city": {
            "type": "string",
            "description": "City of the debtor"
          },
          "state": {
            "type": "string",
            "description": "State of the debtor"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP code of the debtor"
          },
          "county": {
            "type": "string",
            "description": "County of the debtor"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the debtor"
          },
          "lastPayDate": {
            "type": "string",
            "format": "date",
            "description": "Date of the last payment made by the debtor"
          },
          "chargeOffDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt was charged off, if applicable"
          },
          "interestDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of interest due on the debt"
          },
          "principalDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of principal due on the debt"
          },
          "otherFees": {
            "type": "number",
            "format": "float",
            "description": "Other fees associated with the debt"
          },
          "amountPaid": {
            "type": "number",
            "format": "float",
            "description": "Total amount paid by the debtor so far"
          },
          "paymentLink": {
            "type": "string",
            "description": "Link where the debtor can pay their balance, included in outreach. Accepts a full URL or a domain (e.g., https://example.com/pay or www.example.com)."
          },
          "customWorkflowID": {
            "type": "string",
            "description": "Custom workflow identifier for the debtor"
          },
          "agentName": {
            "type": "string",
            "description": "Name of the agent to attribute workflow enrollment to"
          },
          "customization": {
            "type": "string",
            "description": "Custom instructions for AI collection workflow (e.g., tone, channel preferences, frequency). If not provided, the system will generate an optimal collection flow."
          }
        }
      },
      "DebtorUpdate": {
        "type": "object",
        "properties": {
          "debtorName": {
            "type": "string",
            "description": "Updated name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Updated total unpaid debt amount"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Updated contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Updated email address of the debtor"
          },
          "callbackNumber": {
            "type": "string",
            "description": "Updated callback phone number"
          },
          "productOrService": {
            "type": "string",
            "description": "Updated name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Updated name of the creditor"
          },
          "accountNumber": {
            "type": "string",
            "description": "Updated account number associated with the debt"
          },
          "address": {
            "type": "string",
            "description": "Updated street address of the debtor"
          },
          "city": {
            "type": "string",
            "description": "Updated city of the debtor"
          },
          "state": {
            "type": "string",
            "description": "Updated state of the debtor"
          },
          "zipCode": {
            "type": "string",
            "description": "Updated ZIP code of the debtor"
          },
          "ssn": {
            "type": "string",
            "description": "Updated Social Security Number of the debtor"
          },
          "lastPayDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date of the last payment made by the debtor"
          },
          "chargeOffDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date when the debt was charged off, if applicable"
          },
          "interestDue": {
            "type": "number",
            "format": "float",
            "description": "Updated amount of interest due on the debt"
          },
          "principalDue": {
            "type": "number",
            "format": "float",
            "description": "Updated amount of principal due on the debt"
          },
          "otherFees": {
            "type": "number",
            "format": "float",
            "description": "Updated other fees associated with the debt"
          },
          "amountPaid": {
            "type": "number",
            "format": "float",
            "description": "Updated total amount paid by the debtor so far"
          },
          "customization": {
            "type": "string",
            "description": "Custom instructions for AI collection workflow (e.g., tone, channel preferences, frequency). If not provided, the system will generate an optimal collection flow."
          }
        }
      },
      "DebtorResponse": {
        "type": "object",
        "properties": {
          "debtorId": {
            "type": "string",
            "description": "Unique identifier of the debtor"
          },
          "debtorName": {
            "type": "string",
            "description": "Full name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Total amount of unpaid debt"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the debtor"
          },
          "callbackNumber": {
            "type": "string",
            "description": "Callback phone number"
          },
          "productOrService": {
            "type": "string",
            "description": "Name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Name of the creditor"
          },
          "creditorEmail": {
            "type": "string",
            "format": "email",
            "description": "Creditor email if provided"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update to this record"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the debt"
          },
          "address": {
            "type": "string",
            "description": "Street address of the debtor"
          },
          "city": {
            "type": "string",
            "description": "City of the debtor"
          },
          "state": {
            "type": "string",
            "description": "State of the debtor"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP code of the debtor"
          },
          "county": {
            "type": "string",
            "description": "County of the debtor"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the debtor"
          },
          "lastPayDate": {
            "type": "string",
            "format": "date",
            "description": "Date of the last payment made by the debtor"
          },
          "chargeOffDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt was charged off, if applicable"
          },
          "interestDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of interest due on the debt"
          },
          "principalDue": {
            "type": "number",
            "format": "float",
            "description": "Amount of principal due on the debt"
          },
          "otherFees": {
            "type": "number",
            "format": "float",
            "description": "Other fees associated with the debt"
          },
          "amountPaid": {
            "type": "number",
            "format": "float",
            "description": "Total amount paid by the debtor so far"
          },
          "paymentLink": {
            "type": "string",
            "nullable": true,
            "description": "Payment link associated with the debtor"
          },
          "customWorkflowID": {
            "type": "string",
            "description": "Custom workflow identifier for the debtor"
          },
          "enrollment": {
          "type": "object",
          "description": "Present only when customWorkflowID is provided",
          "properties": {
            "attempted": { "type": "boolean" },
            "success": { "type": "boolean" },
            "message": { "type": "string" },
            "workflowId": { "type": "string" },
            "agentName": {
              "type": "string",
              "description": "Agent name passed in the request. This is echoed back; if not provided, the service falls back internally to merchantName/email, but only the raw agentName is returned here."
            }
          }
        },
          "customization": {
            "type": "string",
            "description": "Custom instructions for AI collection workflow (e.g., tone, channel preferences, frequency). If not provided, the system will generate an optimal collection flow."
          }
        },
        "required": [
          "debtorId",
          "debtorName",
          "totalUnpaidDebt",
          "delinquencyDate",
          "creditorName",
          "lastUpdated"
        ]
      },
      "DebtorStatus": {
        "type": "object",
        "properties": {
          "debtorId": {
            "type": "string",
            "description": "Unique identifier of the debtor"
          },
          "status": {
            "type": "string",
            "description": "Current status of the debtor",
            "enum": [
              "Potential",
              "Subscription",
              "Partial",
              "Paid",
              "Deleted",
              "Paid Creditor Directly",
              "Deceased",
              "Filed Bankruptcy"
            ]
          }         
        },
        "required": ["debtorId", "status"]
      },
      "CallRecording": {
        "type": "object",
        "properties": {
          "recording_url": {
            "type": "string",
            "description": "URL to the audio recording file"
          },
          "transcript": {
            "type": "string",
            "description": "Full conversation transcript (if requested)"
          },
          "analysis": {
            "type": "object",
            "description": "Call analysis data (if requested)",
            "properties": {
              "in_voicemail": {
                "type": "boolean",
                "description": "Whether the call went to voicemail"
              },
              "call_summary": {
                "type": "string",
                "description": "AI-generated summary of the call"
              },
              "user_sentiment": {
                "type": "string",
                "description": "Detected user sentiment (Positive/Negative/Neutral)"
              },
              "custom_analysis_data": {
                "type": "object",
                "description": "Additional analysis data"
              },
              "call_successful": {
                "type": "boolean",
                "description": "Whether the call was successful"
              }
            }
          }
        },
        "required": ["recording_url"]
      },
      "CleanNumbersResponse": {
        "type": "object",
        "properties": {
          "numbers": {
            "type": "array",
            "description": "List of active clean phone numbers",
            "items": {
              "type": "object",
              "properties": {
                "phone_number": {
                  "type": "string",
                  "description": "Phone number in E.164 format"
                }
              }
            }
          },
          "count": {
            "type": "integer",
            "description": "Total number of clean numbers returned"
          },
          "group": {
            "type": "string",
            "description": "The group that was queried",
            "enum": ["overseas", "inhouse"]
          }
        },
        "required": ["numbers", "count", "group"]
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "example": {
          "code": 400,
          "message": "Invalid input: debtorName is required"
        }
      },
      "TCNCallOutcome": {
        "type": "object",
        "required": ["action", "tcn_cid", "timestamp"],
        "properties": {
          "action": {
            "type": "string",
            "description": "The action to be taken based on the call outcome",
            "enum": ["end", "judge_transfer", "garnishment_transfer", "general_transfer"]
          },
          "tcn_cid": {
            "type": "string",
            "description": "The TCN call identifier"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the call outcome was determined"
          },
          "language": {
            "type": "string",
            "description": "The language used during the call (e.g., 'english', 'spanish'). May be null if not provided.",
            "nullable": true
          }
        },
        "example": {
          "action": "general_transfer",
          "tcn_cid": "12345",
          "timestamp": "2024-01-15T10:30:00.000Z",
          "language": "english"
        }
      },
      "TCNCallOutcomeNotFound": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type",
            "example": "Call outcome not found"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message",
            "example": "Call may still be in progress or outcome not yet available"
          }
        }
      },
      "BillingUsageSummary": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "description": "Object type identifier",
            "example": "billing.usage_summary"
          },
          "organization": {
            "type": "string",
            "description": "Your organization name"
          },
          "period": {
            "type": "object",
            "properties": {
              "start_date": {
                "type": "string",
                "description": "Start of the queried date range"
              },
              "end_date": {
                "type": "string",
                "description": "End of the queried date range"
              }
            }
          },
          "sms": {
            "type": "object",
            "properties": {
              "count": { "type": "number", "description": "Number of SMS segments sent" },
              "cost": { "type": "number", "description": "Total SMS cost" },
              "unit_cost": { "type": "number", "description": "Cost per segment" },
              "unit": { "type": "string", "description": "Unit type", "example": "segments" }
            }
          },
          "mms": {
            "type": "object",
            "properties": {
              "count": { "type": "number", "description": "Number of MMS segments sent" },
              "cost": { "type": "number", "description": "Total MMS cost" },
              "unit_cost": { "type": "number", "description": "Cost per segment" },
              "unit": { "type": "string", "description": "Unit type", "example": "segments" }
            }
          },
          "email": {
            "type": "object",
            "properties": {
              "count": { "type": "number", "description": "Number of emails sent" },
              "cost": { "type": "number", "description": "Total email cost" },
              "unit_cost": { "type": "number", "description": "Cost per message" },
              "unit": { "type": "string", "description": "Unit type", "example": "messages" }
            }
          },
          "rvm": {
            "type": "object",
            "description": "Ringless Voicemail — has two-part pricing (per-drop + per-hour duration)",
            "properties": {
              "drops": { "type": "number", "description": "Number of voicemail drops" },
              "drop_cost": { "type": "number", "description": "Cost from drops (drops × drop rate)" },
              "drop_unit_cost": { "type": "number", "description": "Cost per drop" },
              "duration_seconds": { "type": "number", "description": "Total voicemail duration in seconds" },
              "duration_hours": { "type": "number", "description": "Total voicemail duration in hours" },
              "duration_cost": { "type": "number", "description": "Cost from duration (hours × hourly rate)" },
              "duration_unit_cost_per_hour": { "type": "number", "description": "Cost per hour of voicemail audio" },
              "total_cost": { "type": "number", "description": "Combined drop + duration cost" }
            }
          },
          "calls_outbound": {
            "type": "object",
            "properties": {
              "minutes": { "type": "number", "description": "Total outbound call minutes" },
              "cost": { "type": "number", "description": "Total cost" },
              "unit_cost": { "type": "number", "description": "Cost per minute" },
              "unit": { "type": "string", "description": "Unit type", "example": "minutes" }
            }
          },
          "calls_inbound": {
            "type": "object",
            "properties": {
              "minutes": { "type": "number", "description": "Total inbound call minutes" },
              "cost": { "type": "number", "description": "Total cost" },
              "unit": { "type": "string", "description": "Unit type", "example": "minutes" }
            }
          },
          "total_cost": {
            "type": "number",
            "description": "Total cost across all channels in USD"
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "example": "usd"
          }
        },
        "example": {
          "object": "billing.usage_summary",
          "organization": "Acme Collections",
          "period": { "start_date": "2025-02-01", "end_date": "2025-02-28" },
          "sms": { "count": 185040, "cost": 5551.20, "unit_cost": 0.03, "unit": "segments" },
          "mms": { "count": 4000, "cost": 120.00, "unit_cost": 0.03, "unit": "segments" },
          "email": { "count": 15000, "cost": 0.00, "unit_cost": 0.00, "unit": "messages" },
          "rvm": { "drops": 50000, "drop_cost": 700.00, "drop_unit_cost": 0.014, "duration_seconds": 150000, "duration_hours": 41.67, "duration_cost": 137.50, "duration_unit_cost_per_hour": 3.30, "total_cost": 837.50 },
          "calls_outbound": { "minutes": 10000, "cost": 1080.00, "unit_cost": 0.108, "unit": "minutes" },
          "calls_inbound": { "minutes": 5100, "cost": 1190.00, "unit": "minutes" },
          "total_cost": 8778.70,
          "currency": "usd"
        }
      },
      "BillingError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Error type",
                "enum": ["invalid_request_error", "configuration_error", "access_denied", "api_error"]
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "param": {
                "type": "string",
                "description": "The parameter that caused the error (if applicable)"
              }
            }
          }
        },
        "example": {
          "error": {
            "type": "invalid_request_error",
            "message": "start_date is required and must be YYYY-MM-DD or a full ISO 8601 UTC timestamp",
            "param": "start_date"
          }
        }
      },
      "SmsTemplate": {
        "type": "object",
        "required": [
          "templateId",
          "accountId",
          "message",
          "placeholders"
        ],
        "properties": {
          "templateId": {
            "type": "integer",
            "description": "Identifier for the template."
          },
          "accountId": {
            "type": "string",
            "description": "The account the template belongs to (your organization's configured account)."
          },
          "message": {
            "type": "string",
            "description": "The template body, containing `{placeholder}` tokens."
          },
          "placeholders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Variable names you must supply in `variables` when sending."
          }
        }
      },
      "SegmentResult": {
        "type": "object",
        "required": [
          "encoding",
          "characterCount",
          "segmentCount",
          "maxCharsPerSegment"
        ],
        "properties": {
          "encoding": {
            "type": "string",
            "enum": [
              "GSM-7",
              "UCS-2"
            ],
            "description": "Encoding the message is sent with. Any non-GSM-7 character (emoji, smart quotes, most CJK) forces the whole message to UCS-2."
          },
          "characterCount": {
            "type": "integer",
            "description": "Number of characters in the message."
          },
          "gsm7Length": {
            "type": "integer",
            "description": "Length in GSM-7 units (extended characters such as { } [ ] ~ \\ | ^ € cost 2)."
          },
          "segmentCount": {
            "type": "integer",
            "description": "Number of SMS segments the message will use."
          },
          "maxCharsPerSegment": {
            "type": "integer",
            "description": "Max characters per segment for the chosen encoding (160 GSM-7, 70 UCS-2)."
          },
          "messageSizeBits": {
            "type": "integer",
            "description": "Total message size in bits."
          }
        }
      },
      "MessageStatus": {
        "type": "object",
        "required": [
          "messageId",
          "status",
          "delivered",
          "failed"
        ],
        "properties": {
          "messageId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Carrier status: Queued, Sent, Delivered, or Rejected / Failed / Undelivered on failure."
          },
          "delivered": {
            "type": "boolean"
          },
          "failed": {
            "type": "boolean"
          },
          "failureClassification": {
            "type": "string",
            "nullable": true,
            "enum": [
              "FATAL",
              "NON_FATAL"
            ],
            "description": "On failed messages: FATAL (do not retry), NON_FATAL (transient, retry may succeed), or null when the carrier reason is unrecognized."
          },
          "retryRecommended": {
            "type": "boolean",
            "description": "True when the failure is NON_FATAL and a retry may succeed."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TextError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          }
        },
        "example": {
          "error": "Texting is not enabled for this organization"
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "collectwise_key"
      }
    }
  }
}
