{
  "openapi": "3.0.1",
  "info": {
    "title": "CollectWise API",
    "description": "An API for managing debtors, tracking statuses, and automating debt collection processes",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.collectwise.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/debtor": {
      "get": {
        "description": "Returns all debtors from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DebtorResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new debtor record",
        "requestBody": {
          "description": "Debtor information to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDebtor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Debtor response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtor/{debtorId}": {
      "get": {
        "summary": "Get a debtor by ID",
        "description": "Retrieve the details of a specific debtor using their unique identifier",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a debtor",
        "description": "Update an existing debtor's information",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated debtor information",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebtorUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Debtor successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebtorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a debtor",
        "description": "Delete a debtor using their unique identifier",
        "parameters": [
          {
            "name": "debtorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the debtor to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Debtor successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Debtor successfully deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Debtor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/debtors": {
      "post": {
        "summary": "Create multiple debtors",
        "description": "Creates multiple debtor records in bulk",
        "requestBody": {
          "description": "Array of debtor information to add",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NewDebtor"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk debtor creation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdDebtors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DebtorResponse"
                      }
                    },
                    "failedDebtors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Index of the failed debtor in the input array"
                          },
                          "error": {
                            "$ref": "#/components/schemas/Error"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DebtorUpdate": {
        "type": "object",
        "properties": {
          "debtorName": {
            "type": "string",
            "description": "Updated name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Updated total unpaid debt amount"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Updated contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Updated email address of the debtor"
          },
          "productOrService": {
            "type": "string",
            "description": "Updated name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Updated name of the creditor"
          },
          "accountNumber": {
            "type": "string",
            "description": "Updated account number associated with the debt"
          },
          "address": {
            "type": "string",
            "description": "Updated street address of the debtor"
          },
          "city": {
            "type": "string",
            "description": "Updated city of the debtor"
          },
          "state": {
            "type": "string",
            "description": "Updated state of the debtor"
          },
          "zipCode": {
            "type": "string",
            "description": "Updated ZIP code of the debtor"
          },
          "ssn": {
            "type": "string",
            "description": "Updated Social Security Number of the debtor"
          },
          "lastPayDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date of the last payment made by the debtor"
          },
          "chargeOffDate": {
            "type": "string",
            "format": "date",
            "description": "Updated date when the debt was charged off, if applicable"
          },
          "interestDue": {
            "type": "number",
            "format": "float",
            "description": "Updated amount of interest due on the debt"
          },
          "principalDue": {
            "type": "number",
            "format": "float",
            "description": "Updated amount of principal due on the debt"
          },
          "otherFees": {
            "type": "number",
            "format": "float",
            "description": "Updated other fees associated with the debt"
          },
          "amountPaid": {
            "type": "number",
            "format": "float",
            "description": "Updated total amount paid by the debtor so far"
          }
        }
      },
      "DebtorResponse": {
        "type": "object",
        "properties": {
          "debtorId": {
            "type": "string",
            "description": "Unique identifier of the debtor"
          },
          "debtorName": {
            "type": "string",
            "description": "Full name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Total amount of unpaid debt"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the debtor"
          },
          "productOrService": {
            "type": "string",
            "description": "Name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Name of the creditor"
          }
        },
        "required": [
          "debtorId",
          "debtorName",
          "totalUnpaidDebt",
          "delinquencyDate",
          "creditorName"
        ]
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "example": {
          "code": 404,
          "message": "Debtor not found"
        }
      },
      "NewDebtor": {
        "type": "object",
        "required": [
          "debtorName",
          "totalUnpaidDebt",
          "delinquencyDate",
          "phoneNumber",
          "email",
          "productOrService",
          "creditorName"
        ],
        "properties": {
          "debtorName": {
            "type": "string",
            "description": "Full name of the debtor"
          },
          "totalUnpaidDebt": {
            "type": "number",
            "format": "float",
            "description": "Total amount of unpaid debt"
          },
          "delinquencyDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the debt became delinquent"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Contact phone number of the debtor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the debtor"
          },
          "productOrService": {
            "type": "string",
            "description": "Name of the product or service delivered to the debtor"
          },
          "creditorName": {
            "type": "string",
            "description": "Name of the creditor"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "COLLECTWISE-KEY"
      }
    }
  }
}
